html, body {
    margin: 0;
    font-family: sans-serif;
}

.tab-wrapper {
    display: inline;
}

.tab {
    padding: 7.5px 12.5px;
    background-color: #eee;
    color: #1b1b1b;
    border-top: solid 3px transparent;
    display: inline-block;
    margin-right: 1px;
    transition: border-top-color 0.15s ease-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#new-tab-button {
    display: inline-block;
    background-color: #eee;
    color: #1b1b1b;
    padding: 7.5px 10px;
    border-radius: 2.5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab:hover {
    border-top-color: #ccc;
    background-color: #d6d6d6;
}

.current, .current:hover {
    border-top-color: #7798ff;
    background-color: #f6f6f6;
}

.close-button {
    margin: 5px 0 5px 20px;
    padding: 2.5px 6px;
    border-radius: 2.5px;
    color: #1b1b1b;
    user-select: none;
}

.close-button:hover {
    background-color: rgba(0,0,0,0.075)
}
 #new-tab-button:hover {
    background-color: #d6d6d6;
}

.description {
    margin: auto;
    width: 80%;
}